<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>门店管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="__CSS__/admin.css" media="all">
</head>
<body style="padding:10px;">
<blockquote class="layui-elem-quote">
    <div class="layui-form" id="admin">
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger batchDel" data-type="getCheckData">批量移除</a>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">搜索姓名：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="keyword" id="keyword" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>
</blockquote>
<table id="table" lay-filter="test"></table>
<script type="text/html" id="showimg">
    <div><a href="#"><img src="{{d.head_img}}" width="30" height="30"></a></div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">移除经纪人</a>
</script>
{include file="public/foot"}
<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var id = window.base.getQueryString('id');


        table.render({
            elem: '#table'
            , height: 'full-120'
            , width: 'full'
            , url: window.base.g_restUrl + 'store/user_list?store_id='+id //数据接口
            , page: false //是否开启分页
            , limits: [15, 25, 45, 60] // 设置每页显示？条
            , limit: 15 // 每页默认显示数量
            , cols: [[ //标题栏 列表信息
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 100, fixed: 'left', align: 'center'}
                , {field: 'head_img', title: '用户头像', width: 100, templet: '#showimg', align: 'center'}
                , {field: 'nickname', title: '昵称', width: 300}
                , {field: 'phone', title: '手机号', width: 200}
                , {field: 'card_name', title: '真实姓名', width: 400,}
                , {field: 'card_number', title: '身份证ID', width: 400,}
                , {field: 'level', title: '类型', width: 200}
                , {field: 'store_id', title: '所属房产', width: 200}
                , {field: 'login_time', title: '上次登录', width: 200, align: 'center', sort: true}
                , {field: 'create_time', title: '注册时间', width: 200, align: 'center', sort: true}
                , {title: '操作', width: 160, align: 'center', toolbar: '#barDemo', fixed: 'right'}
            ]],
            id: 'testReload',
            done: function (res, curr, count) {
                hoverOpenImg();//显示大图
                $('table tr').on('click', function () {
                    $('table tr').css('background', '');
                    $(this).css('background', '<%=PropKit.use("config.properties").get("table_color")%>');
                });
            }
        });

        // 批量删除+搜索
        var $ = layui.$, active = {
            reload: function () {
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            keyword: $("input[name='keyword']").val()
                        }
                    }
                });
            },

            // 批量删除
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('testReload')
                    , data = checkStatus.data;

                var deList = [];
                data.forEach(function (n, i) {
                    deList.push(n.id);
                });
                if (deList != '') {
                    layer.confirm('确定移除所选项吗？', function (index) {
                        layer.close(index);
                        dels(deList, table);
                    })
                } else {
                    layer.tips('请选择需要移除的行', $('.batchDel'), {
                        tips: [3, '#5fb878']
                    })
                }
            }

        };
        // 搜索
        $('.layui-elem-quote .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //工具栏 编辑+删除
        table.on('tool(test)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            // 删除操作
            if (layEvent === 'del') {
                layer.confirm('真的移除么', function (index) {
                    //向服务端发送删除指令
                    layer.close(index);
                    del(data.id, obj, index)
                });
            }
        });

    }); // layui结束


    // 单删除
    function del(id, obj, index) {
        var params = {
            url: 'user/remove_store_user?id=' + id,
            sCallback: function (successMsg) {
                if (successMsg.msg == '缺少权限') {
                    layer.msg(successMsg.msg);
                }
                if (successMsg.errorCode == 20100) {
                    //弹出loading
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    layer.msg("移除成功", {icon: 1});
                }
            },
            eCallback: function (errorMsg) {
                layer.msg('您请求的信息不存在!', {icon: 2});
            }
        };
        window.base.getData(params);
    }

    //图片放大
    function hoverOpenImg() {
        var img_show = null; // tips提示
        $('td img').hover(function () {
            var kd = $(this).width();
            var kd1 = kd * 6;          //图片放大倍数
            var kd2 = kd * 6 + 30;       //图片放大倍数
            var img = "<img class='img_msg' src='" + $(this).attr('src') + "' style='width:" + kd1 + "px;' />";
            img_show = layer.tips(img, this, {
                tips: [2, 'rgba(41,41,41,.1)']
                , area: [kd2 + 'px']
            });
        }, function () {
            layer.close(img_show);
        });
        $('td img').attr('style', 'max-width:70px;display:block!important');
    }

    // 批量删除
    function dels(ids, table) {
        var params = {
            url: 'user/remove_store_users?ids=' + ids,
            sCallback: function (successMsg) {
                if (successMsg.errorCode == 20100) {
                    //弹出loading
                    var index = top.layer.msg('批量移除中，请稍候', {icon: 16, time: false, shade: 0.5});
                    setTimeout(function () {
                        top.layer.close(index);
                        top.layer.msg("移除成功", {icon: 1});
                        layer.closeAll("iframe");
                        table.reload('testReload', {});
                    }, 2000);
                }
            },
            eCallback: function (errorMsg) {
                layer.msg('您请求的信息不存在!', {icon: 2});
            }
        };
        window.base.getData(params);
    }
</script>
</body>
</html>
