<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
</head>
	<style>
		#head {
			background: #f2f2f2;
			height: 80px;
			margin: 15px 20px 15px 20px;
		}
		#button {
			margin-left: 20px;
			background: #FF5722; 
		}
		.table {
			margin: 15px 20px 0px 20px;
		}
		#content {
			margin-right: 40px;
		}
		.neilian {
			width: 130px;
			display: inline;
		}
		.form-group{
			
			line-height:80px;
		}
		#sousuo {
			margin-left: 20px;
		}
		#mingzi {
			margin-right: 10px;
		}
		#xiala {
			line-height:80px;
		}
		#left{
			margin-left: 50px;
		}
	</style>
<body>	
	<div id="head">
		<form action="" class=".form-inline"></form>
		<button class="btn btn-warning btn-lg" id="button" onclick="delall();">批量删除</button>
  		<div class="form-group neilian" id="left">
    		<label for="exampleInputName2" class="neilian" id="mingzi">名字搜索:</label>
    		<input type="text" class="form-control neilian" id="exampleInputName2" placeholder="请输入姓名">
  		</div>
		<div class="layui-input-inline input">
            <div class="layui-inline">
              <div class="layui-input-inline">
             	<select class="form-control">
					<option value="0">请选择类别</option>
					<option value="1">已报备</option>
					<option value="3">已到访</option>
					<option value="5">已成交</option>		
					<option value="7">已提额</option>
				</select>
              </div>
            </div>
        </div>
        <div class="layui-input-inline">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" class="form-control" id="create_time" placeholder="创建时间" name="create_time">
              </div>
            </div>
        </div>
		<button class="btn btn-info btn-lg" id="sousuo" onclick="sousou();">搜索</button>
	</div>
	<div id="content">
	<table class="table table-bordered">
		<tr>
			<td align="center"><input type="checkbox" onclick="xuan();" value="0" id="quanxuan"></td>
			<td align="center"><strong>ID</strong></td>
			<td align="center"><strong>用户ID</strong></td>
			<td align="center"><strong>姓名</strong></td>
			<td align="center"><strong>号码</strong></td>
			<td align="center"><strong>性别</strong></td>
			<td align="center"><strong>预计带看时间</strong></td>
			<td align="center"><strong>购房意向</strong></td>
			<td align="center"><strong>操作</strong></td>
			<td align="center"><strong>是否报备</strong></td>
			<td align="center"><strong>是否到访</strong></td>
			<td align="center"><strong>是否成交</strong></td>
			<td align="center"><strong>是否提额</strong></td>
		</tr>
		{volist name="list" id="v"}
		<tr id="tr{$v.id}">
			<td align="center"><input type="checkbox" value="{$v.id}" class="xuan"></td>
			<td align="center">{$v.id}</td>
			<td align="center">{$v.user_id}</td>
			<td align="center">{$v.name}</td>
			<td align="center">{$v.number}</td>
			<td align="center">{$v.gender}</td>
			<td align="center">{$v.date}</td>
			<td align="center">{$v.content}</td>
			<td align="center">{$v.is_new}</td>
			<td align="center">{$v.is_visit}</td>
			<td align="center">{$v.is_deal}</td>
			<td align="center">{$v.is_pay}</td>
			<td align="center">
				<a href="{:url('admin/Order/orderEdit',['id'=>$v.id])}" class="btn btn-success btn-xs">编辑</a>
				<button class="btn btn-warning btn-xs" onclick="del({$v.id});">删除</button>
			</td>
		</tr>
		{/volist}
	</table>
	</div>
	{$page}
</body>
<script src="__PUBLIC__/bootstrap/js/jquery.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/layui/layer.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script>
	function del(can){
	//弹出窗口
	layer.confirm('真的删除吗', function(index){
    //关闭窗口
    layer.close(index);
    //拼接get访问的的url
    var url = "{:url('admin/Order/orderDel')}" +'?id='+can;
    //发送get请求删除行，判断返回值是否为成功，成功则remove删除那一行的标签
    $.get(url,function(res){
    	var tr = '#tr'+can;
    	if (res == '删除成功') {
    		$(tr).remove();
    	}
    	layer.msg(res);
    })
	})
}
	//input框的日历插件
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      
      //常规用法
      laydate.render({
        elem: '#create_time'
      });
    });
	//全选
	function xuan(){
		if ($('#quanxuan')[0].value == 0) {
			$('input:checkbox').prop('checked',true);
			$('#quanxuan')[0].value = 1;
		}else {
			$('input:checkbox').prop('checked',false);
			$('#quanxuan')[0].value = 0;
		}
	}
	//批量删除
	function delall(){
		//console.log($('input:checkbox')[1].value);
		//弹出窗口
		layer.confirm('真的删除吗', function(index){
    	//关闭窗口
    	layer.close(index);
    	//声明一个空对象，单选框都有xuan这个类，然后数出有多少个，然后再for循环，取出单选框上的value，也就是id
    	//循环取出的值放到空对象里，然后转换成json格式，ajax发送post给后端，并且删除选中的行
		var data = {};
		var check = document.getElementsByClassName('xuan');
		var len = check.length;
		for (var i = 0; i<len; i++) {
		//console.log(check[i].checked);
		if (check[i].checked) {
			var a = check[i].value;
			data[i] = a;
			// var tr = '#tr'+a;
			// $(tr).remove();
		}
	  }
	  //console.log(data);
	  var data2 = {};
	  data2['res'] = data;
	  var a = JSON.stringify(data2);
	  //var a = JSON.stringify(data2);
	  //console.log(a);
	  
	  var url = "{:url('admin/Order/orderdel')}";
	  $.post(url,data,function(res){
	  	for(var i in data){
	  		$('#tr'+data[i]).remove();
	  	}
	  	layer.msg(res);
	  })
	  })
	}
	function sousou(){
		var options = $("option:selected").val();
		//console.log(options);
		var name = $('#exampleInputName2').val();
		//console.log(name);
		var date = $('#create_time').val();
		//console.log(date);
		var data = {};
		if (options != undefined) {
			data['zhuangtai'] = options;
		}else {
			data['zhuangtai'] = '';
		}
		if (name != '') {
			data['name'] = name;
		}else{
			data['name'] = '';
		}
		if (date != '') {
			data['date'] = date;
		}else {
			data['date'] = '';
		}
		//console.log(data);
		data = JSON.stringify(data);
		//console.log(data);
		var url = "{:url('admin/order/orderlist')}";
		$.post(url,data,function(res){
			console.log(res);
		})
	}
</script>
</html>