<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
</head>
	<style>
		#head {
			background: #f2f2f2;
			height: 80px;
			margin: 15px 20px 15px 20px;
		}
		#button {
			margin-left: 20px;
			background: #FF5722; 
		}
		.table {
			margin: 15px 20px 0px 20px;
		}
		#content {
			margin-right: 40px;
		}
		.neilian {
			width: 130px;
			display: inline;
		}
		.form-group{
			
			line-height:80px;
		}
		#sousuo {
			margin-left: 20px;
		}
		#mingzi {
			margin-right: 10px;
		}
		#xiala {
			line-height:80px;
		}
		#left{
			margin-left: 50px;
		}
	</style>
<body>
	<div id="head">
		<form action="" method="post"></form>
		<button class="btn btn-warning btn-lg" id="button" onclick="delall();">批量删除</button>
  		<div class="form-group neilian" id="left">
    		<label for="exampleInputName2" class="neilian" id="mingzi">名字搜索:</label>
    		<input type="text" name="name" class="form-control neilian" id="exampleInputName2" placeholder="请输入姓名">
  		</div>
		<div class="layui-input-inline input">
            <div class="layui-inline">
              <div class="layui-input-inline">
             	<select class="form-control">
					<option value="0">请选择类别</option>
					<option value="1">已报备</option>
					<option value="3">已到访</option>
					<option value="5">已成交</option>		
					<option value="7">已结佣</option>
				</select>
              </div>
            </div>
        </div>
        <div class="layui-input-inline">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" class="form-control" id="create_time" placeholder="创建时间" name="create_time">
              </div>
            </div>
        </div>
       <!--  <input type="submit" value="提交"> -->
		<button class="btn btn-info btn-lg" id="sousuo" onclick="sousou();">搜索</button>
	</div>
	<div id="content">
	<table class="table table-bordered">
		<tr>
			<td align="center"><input type="checkbox" onclick="xuan();" value="0" id="quanxuan"></td>
			<td align="center"><strong>ID</strong></td>
			<td align="center"><strong>用户ID</strong></td>
			<td align="center"><strong>姓名</strong></td>
			<td align="center"><strong>号码</strong></td>
			<td align="center"><strong>性别</strong></td>
			<td align="center"><strong>预计带看时间</strong></td>
			<td align="center"><strong>购房意向</strong></td>
			<td align="center"><strong>是否报备</strong></td>
			<td align="center"><strong>是否到访</strong></td>
			<td align="center"><strong>是否成交</strong></td>
			<td align="center"><strong>是否结佣</strong></td>
			<td align="center"><strong>结算佣金</strong></td>
			<td align="center"><strong>操作</strong></td>
		</tr>
		{volist name="list" id="v"}
		<tr id="tr{$v.id}">
			<td align="center"><input type="checkbox" value="{$v.id}" class="xuan"></td>
			<td align="center">{$v.id}</td>
			<td align="center">{$v.user_id}</td>
			<td align="center">{$v.name}</td>
			<td align="center">{$v.number}</td>
			<td align="center">{$v.gender}</td>
			<td align="center">{$v.date}</td>
			<td align="center">{$v.content}</td>
			<td align="center">{$v.is_new}</td>
			<td align="center">{$v.is_visit}</td>
			<td align="center">{$v.is_deal}</td>
			<td align="center">{$v.is_pay}</td>
			<td align="center">
				{if condition="$v.settlement eq 0"}
				<button class="btn btn-primary btn-xs yongjin" value="{$v.id}" data-toggle="modal" data-target="#jiesuan">结算佣金</button>
				{else /}
				<button class="btn btn-primary btn-xs" disabled="disabled">结算佣金</button>
				{/if}
			</td>
			<td align="center">
				<a href="{:url('admin/Order/orderEdit',['id'=>$v.id])}" class="btn btn-success btn-xs">编辑</a>
				<button class="btn btn-warning btn-xs" onclick="del({$v.id});">删除</button>
			</td>
		</tr>
		{/volist}
	</table>
	</div>
	{$page}
	<div id="jiesuan" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">佣金结算</div>
				<div class="modal-body">
					<form action="">
						<p>用户名<input type="text"></p>
						<p>密码<input type="password"></p>
						<p><input type="submit" value=""></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/bootstrap/js/jquery.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/layui/layer.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script>
	function del(can){
	//弹出窗口
	layer.confirm('真的删除吗', function(index){
    //关闭窗口
    layer.close(index);
    //拼接get访问的的url
    var url = "{:url('admin/Order/orderDel')}" +'?id='+can;
    //发送get请求删除行，判断返回值是否为成功，成功则remove删除那一行的标签
    $.get(url,function(res){
    	var tr = '#tr'+can;
    	if (res == '删除成功') {
    		$(tr).remove();
    	}
    	layer.msg(res);
    })
	})
}
	//input框的日历插件
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      
      //常规用法
      laydate.render({
        elem: '#create_time'
      });
    });
	//全选
	function xuan(){
		//我们先给全选的按钮写一个value为0，点击的时候判断value为几
		//如果为0，就说明目前不是全选状态，就把所有的单选框选中了
		//并且把value改为1
		if ($('#quanxuan')[0].value == 0) {
			$('input:checkbox').prop('checked',true);
			$('#quanxuan')[0].value = 1;
		}else {
			//如果value不为0，说明是点击过全选的，这时候我们再去把所有单选框不选中
			$('input:checkbox').prop('checked',false);
			$('#quanxuan')[0].value = 0;
		}
	}
	//批量删除
	function delall(){
		//弹出窗口
		layer.confirm('真的删除吗', function(index){
    	//关闭窗口
    	layer.close(index);
    	//声明一个空对象，单选框都有xuan这个类，然后数出有多少个，然后再for循环，取出单选框上的value，也就是id
    	//循环取出的值放到空对象里，然后转换成json格式，ajax发送post给后端，并且删除选中的行
		var data = {};
		//选中类名为xuan的单选框，在foreach循环的时候，我给单选框加了一个class，所以循环出来的tr的单选框都有这个class
		var check = document.getElementsByClassName('xuan');
		//数出来有多少个，因为最后一页不一定是10个
		var len = check.length;
		//循环，并且判断是否选中，如果选中，则把value赋值给数组，传给后端
		for (var i = 0; i<len; i++) {
		if (check[i].checked) {
			var a = check[i].value;
			data[i] = a;
		}
	  }
	  //后端不好取值，只好把对象再放到一个空对象里了
	  var data2 = {};
	  data2['res'] = data;
	  //转换成json格式
	  var a = JSON.stringify(data2);
	  //获取url
	  var url = "{:url('admin/Order/orderdel')}";
	  //post传参，弹出后端提示值，并且循环传参用的data，取出值，用remove删除掉选中的tr
	  $.post(url,data,function(res){
	  	for(var i in data){
	  		$('#tr'+data[i]).remove();
	  	}
	  	layer.msg(res);
	  })
	  })
	}
	//搜索
	function sousou(){
		//获取下拉框的value
		var options = $("option:selected").val();
		//获取name框的value
		var name = $('#exampleInputName2').val();
		//获取日期框的value
		var date = $('#create_time').val();
		//生成列表的url
		var url = "{:url('admin/order/orderlist')}";
		//判断三个内容框里有没有值，如果有值，则把值取出来，并且和url拼接在一起
		if (options != undefined) {
			url = url+'?zhuangtai='+options;
		}
		if (name != '') {
			url = url+'&name='+name;
		}
		if (date != '') {
			url = url+'&date='+date;
		}
		//拼接一个状态码，为了后台判断是否有get传参用
		//因为垃圾tp5分页，点击页码会get传参，不能直接判断是否有get传参，我们判断get传参里是否有这个状态码
		url = url + '&panduan=1';
		//发送get请求，并且把返回值，直接替换整个body
		$.post(url,function(res){
			document.getElementsByTagName('html')[0].innerHTML = res;
		})
	}
	$('.yongjin').click(function(){
		console.log($(this).val());
	})
</script>
</html>