.font-sty{
	font-family: sans-serif;
}
/* 头部 nvaber 公共样式 */
.tabbar-icon :after, .tabbar-icon :before {
    font-size: .4rem!important;
    display: block;
}
.ios .g-scrollview {
    margin-top: 0px;
}
body{background: #FFFFFF;}
.m-navbar{
	background: #C1060F;
	position: initial;
	}
.back-ico:before , .navbar-title{
	color:#ffffff !important;
	font-size: .3rem !important;
	}
	
.tabbar-active {
	color: #C1060F !important;
}
/* 报备客户按钮 */
#preparation{
	font-size: 0.3rem;
	padding: 0;
	display: flex;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #C1060F;
    color: #ffffff;
    position: fixed;
	color:#ffffff;
    bottom: 2rem;
	right: .5rem;
    align-items: center;
    justify-content: center;
	box-shadow: 0 0px 5px 2px #666;
	z-index: 1;
}
/*  发布按钮样式 */
#release{
	font-size: 0.3rem;
	padding: 0;
	display: flex;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #C1060F;
	color: #ffffff;
	position: fixed;
	color:#ffffff;
	bottom: 4rem;
	right: .5rem;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0px 5px 2px #666;
	z-index: 1;
}