body{
	font-size: 13px;
}
.header {
	background: #C1060F ;
	color: #ffffff;
}

/* 顶部布局样式 */
.header-main  {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .header-main div{
	margin: 0 .3rem;
} */
.header-main input { border: none; width:80%; font-family: initial;}
.header-main .search {
	width: 65%;
	background: #fff;
    padding: .08rem 0;
	margin: 0 .2rem;
    border-radius: .5rem;
}
#bannerImage{
	height: 5rem;
}
#bannerImage .slider-item img{
	height: 100%;
	max-width: 100%;
}


#J_ShowActionSheet{
		display: block !important;
		padding: 0 !important;
		height: 7rem;
	}
	
/* 城市列表自定义布局 */
#ProviceList, #CityList,#AreaList{
	padding: 0 !important;
	float: left;
	display: block !important;
	height: 5rem;			
	overflow: auto;
	width: 30% !important;
	margin: 0 5px;
	height: 7rem;
}
#ProviceList a, #CityList a,#AreaList a{
	line-height: .7rem;
	height: .7rem;
	display: block;
	margin: 1px 0;
	font-size: .23rem;
}
.active{
	color:#C1060F;
}

/* 四个导航和公告样式 */
.menu-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-list label{
	font-size: .3rem;
}
.menu-list .item-menu {
	width: 20%;
	margin: .2rem;
	font-size:.2rem;
	text-align: center;
}
.menu-list .item-menu  img{
	margin: 0.2rem auto;
	max-width: 60%;
}
.notice{
	padding: .2rem .5rem;
    display: flex;
    align-items: center;
	border-bottom: .1rem solid #EDEDED;
}
.notice .title {
	text-align: center;
    width: 1.2rem;
	background: #C1060F;
    color: #ffffff;
    padding: .05rem .2rem;
    border-radius: .1rem;
}
.notice .desc{color:#B8B8B8}


/* 房源列表样式 */
.house-list .tips{
	padding: .2rem 0;
	color:#C1060F;
	text-align: center;
}

#bestnewList .item-list{		
	display: flex;
	align-items: center;
	padding: .1rem;
	}
#bestnewList .rightdesc{
	width: 100%;
	padding: 0 .1rem;
}

#bestnewList .rightdesc p{
	padding: 0 0 .05rem 0;
}

#bestnewList .spantitle{
	width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: .35rem;
}
#bestnewList .paddress{
	width: 4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	color:#5D5D5D
}
#bestnewList .type{
	width: 4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

label.yong{
	padding: .02rem .2rem;
	color:#fff;
	background: #FF9966;
	border-radius: .1rem;
}

#bestnewList .housestyle{
	position: absolute;
	top: 0;
	background: #C1060F;
	color: #fff;
	padding: .05rem .4rem .05rem .1rem;
	border-radius: 0 .2rem .2rem 0;
}